.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.register {
  width: 27%;
  margin: 0 auto;
  height: 60%;
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #5e63b6;
  padding: 60px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

.register h2 {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: white;
}

.register h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
}

.register form {
  margin-top: 10px;
}

.register form .input-box {
  height: 52px;
  margin: 18px 0;
}

.input-box input {
  background-color: #ece9fb;
}

#reg-button:hover {
  background: rgba(255, 255, 255, 0.716);
}

#reg-button {
  background: #a393eb;
  color: white;
}
