.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login {
  min-width: 350px;
  width: 27%;
  margin: 0 auto;
  height: 40%;
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #5e63b6;
  padding: 50px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

.login h2 {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: white;
}

.login h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
}

.login form {
  margin-top: 30px;
}

.login form .input-box {
  height: 52px;
  margin: 18px 0;
}

form .input-box input {
  height: 100%;
  width: 87%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.input-box.button input {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  margin-left: 6%;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
}

.input-box.button input:hover {
  background: rgba(225, 251, 255, 0.742);
}

#log-button {
  background: #a393eb;
  color: white;
}
